

.join-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.join-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.join-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.join-form button {
    padding: 10px;
    border: none;
    background-color: #128c7e;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.join-form button:hover {
    background-color: #075e54;
}
